<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_inventory_backdate_root"
              name="Date Corrections"
              parent="stock.menu_stock_root"
              groups="stock_inventory_backdate.group_inventory_backdate"
              sequence="95"/>

    <menuitem id="menu_inventory_backdate_wizard"
              name="Backdate Inventory Adjustments"
              parent="menu_inventory_backdate_root"
              action="action_inventory_backdate_wizard"
              sequence="10"/>

    <menuitem id="menu_inventory_past_count"
              name="Past Inventory Counts"
              parent="menu_inventory_backdate_root"
              action="action_inventory_past_count"
              sequence="15"/>

    <menuitem id="menu_inventory_backdate_log"
              name="Backdating History"
              parent="menu_inventory_backdate_root"
              action="action_inventory_backdate_log"
              sequence="20"/>

</odoo>
